n8n/workflow-ingestion.json
{
  "name": "Daily Tech Intel — Ingestão (D-1 UTC + LinkedIn)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "cron-utc-07",
      "name": "Cron 07h00 UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "Timezone UTC. Ingestão: apenas ontem (dia civil UTC completo). Ver daily-tech-pipeline.mdc."
    },
    {
      "parameters": {
        "jsCode": "// Code node \"Fetch RSS e janela D-1 UTC\" — fonte canónica: allowlist_rss.yaml (raiz do repo)\n// HTTP: $helpers.httpRequest no editor; n8n Cloud (task runner JS) usa this.helpers — resolver abaixo.\n// SHA-256: globalThis.crypto.subtle (Cloud runner) ou require('crypto') (Node).\n// Janela: apenas o dia civil anterior em UTC [00:00, 23:59:59.999] (ver .cursor/rules/daily-tech-pipeline.mdc).\n\n/** n8n Cloud 2.13+ (runner isolado) muitas vezes não define $helpers; expõe this.helpers.httpRequest. */\nconst httpHelpers =\n  typeof $helpers !== 'undefined' && $helpers && typeof $helpers.httpRequest === 'function'\n    ? $helpers\n    : typeof this !== 'undefined' &&\n        this.helpers &&\n        typeof this.helpers.httpRequest === 'function'\n      ? this.helpers\n      : null;\nif (!httpHelpers) {\n  throw new Error(\n    'Sem cliente HTTP no Code node: $helpers e this.helpers.httpRequest indisponíveis.',\n  );\n}\n\n/** Cada fonte: urls por ordem (tenta a seguinte se falhar). tlsInsecure: só se o runner falhar verificação TLS. */\nconst feeds = [\n  { source: 'netflix', urls: ['https://netflixtechblog.com/feed'], tlsInsecure: true },\n  {\n    source: 'uber',\n    urls: ['https://eng.uber.com/feed/', 'https://www.uber.com/blog/engineering/rss/'],\n  },\n  { source: 'airbnb', urls: ['https://medium.com/feed/airbnb-engineering'] },\n  { source: 'databricks', urls: ['https://www.databricks.com/feed', 'https://www.databricks.com/blog/feed'] },\n  { source: 'openai', urls: ['https://openai.com/blog/rss.xml'] },\n  { source: 'huggingface', urls: ['https://huggingface.co/blog/feed.xml'] },\n  { source: 'deeplearning-ai', urls: ['https://blog.deeplearning.ai/feed/', 'https://www.deeplearning.ai/the-batch/feed/'] },\n  {\n    source: 'azure-updates',\n    urls: ['https://www.microsoft.com/releasecommunications/api/v2/azure/rss'],\n  },\n  { source: 'azure-blog', urls: ['https://azure.microsoft.com/en-us/blog/feed/'] },\n  { source: 'ms-semantic-kernel', urls: ['https://devblogs.microsoft.com/semantic-kernel/feed/'] },\n  { source: 'azure-sdk-devblog', urls: ['https://devblogs.microsoft.com/azure-sdk/feed/'] },\n  { source: 'ms-research', urls: ['https://www.microsoft.com/en-us/research/feed/'] },\n  { source: 'pytorch', urls: ['https://pytorch.org/blog/feed.xml'] },\n  { source: 'tensorflow-blog', urls: ['https://blog.tensorflow.org/feeds/posts/default?alt=rss'] },\n  { source: 'nvidia-blog', urls: ['https://blogs.nvidia.com/feed/'] },\n  { source: 'tdan', urls: ['https://tdan.com/feed'] },\n];\n\nasync function sha256Hex(s) {\n  const str = String(s);\n  const g = typeof globalThis !== 'undefined' ? globalThis : {};\n  const subtle = g.crypto && g.crypto.subtle ? g.crypto.subtle : null;\n  if (subtle) {\n    const data = new TextEncoder().encode(str);\n    const hashBuffer = await subtle.digest('SHA-256', data);\n    return Array.from(new Uint8Array(hashBuffer))\n      .map((b) => b.toString(16).padStart(2, '0'))\n      .join('');\n  }\n  try {\n    const nodeCrypto = require('crypto');\n    return nodeCrypto.createHash('sha256').update(str, 'utf8').digest('hex');\n  } catch (e) {\n    throw new Error(\n      'SHA-256 indisponível: nem globalThis.crypto.subtle nem require(\"crypto\") no runner.',\n    );\n  }\n}\n\n/** n8n pode devolver string pura ou objeto (ex.: { body }) — sem isto o parse falha em silêncio. */\nfunction httpResponseToText(raw) {\n  if (raw == null) return '';\n  if (typeof raw === 'string') return raw;\n  if (typeof raw === 'object') {\n    if (typeof raw.body === 'string') return raw.body;\n    if (typeof raw.body === 'object' && raw.body != null && typeof raw.body.data === 'string') return raw.body.data;\n    if (typeof raw.data === 'string') return raw.data;\n  }\n  try {\n    return JSON.stringify(raw);\n  } catch (e) {\n    return String(raw);\n  }\n}\n\nfunction rssItemLink(block) {\n  const m1 = block.match(/<link[^>]*>([^<]+)<\\/link>/i);\n  if (m1) return m1[1].trim();\n  const m2 = block.match(/<guid[^>]*isPermaLink\\s*=\\s*[\\\"']true[\\\"'][^>]*>([^<]+)<\\/guid>/i);\n  if (m2) return m2[1].trim();\n  const m3 = block.match(/<guid[^>]*>([^<]+)<\\/guid>/i);\n  if (m3 && /^https?:\\/\\//i.test(m3[1].trim())) return m3[1].trim();\n  const m4 = block.match(/<link[^>]+href=[\\\"']([^\\\"']+)[\\\"']/i);\n  return m4 ? m4[1].trim() : null;\n}\n\nfunction rssItemPubDate(block) {\n  const patterns = [\n    /<pubDate>([^<]*)<\\/pubDate>/i,\n    /<dc:date>([^<]*)<\\/dc:date>/i,\n    /<a10:updated>([^<]*)<\\/a10:updated>/i,\n    /<atom:updated>([^<]*)<\\/atom:updated>/i,\n    /<updated>([^<]*)<\\/updated>/i,\n  ];\n  for (const re of patterns) {\n    const m = block.match(re);\n    if (m) return m[1].trim();\n  }\n  return null;\n}\n\nfunction atomEntryLink(block) {\n  const a =\n    block.match(/<link[^>]+rel=[\\\"']alternate[\\\"'][^>]+href=[\\\"']([^\\\"']+)[\\\"']/i) ||\n    block.match(/<link[^>]+href=[\\\"']([^\\\"']+)[\\\"'][^>]*rel=[\\\"']alternate[\\\"']/i);\n  if (a) return a[1].trim();\n  const b = block.match(/<link[^>]+href=[\\\"']([^\\\"']+)[\\\"']/i);\n  if (b) return b[1].trim();\n  const c = block.match(/<link[^>]*>([^<]+)<\\/link>/i);\n  return c ? c[1].trim() : null;\n}\n\nfunction atomEntryPubDate(block) {\n  const m =\n    block.match(/<published>([^<]+)<\\/published>/i) ||\n    block.match(/<updated>([^<]+)<\\/updated>/i) ||\n    block.match(/<a10:updated>([^<]+)<\\/a10:updated>/i);\n  return m ? m[1].trim() : null;\n}\n\nfunction parseRssItems(xml, source) {\n  const items = [];\n  const str = httpResponseToText(xml);\n  if (str.includes('<entry')) {\n    const re = /<entry[^>]*>([\\s\\S]*?)<\\/entry>/gi;\n    let m;\n    while ((m = re.exec(str)) !== null) {\n      const block = m[1];\n      const link = atomEntryLink(block);\n      const titleM = block.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n      const title = titleM ? titleM[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim() : '';\n      const pubDate = atomEntryPubDate(block);\n      if (link && pubDate) items.push({ link, title, pubDate, source });\n    }\n    return items;\n  }\n  const re = /<item[^>]*>([\\s\\S]*?)<\\/item>/gi;\n  let m;\n  while ((m = re.exec(str)) !== null) {\n    const block = m[1];\n    const link = rssItemLink(block);\n    const titleM = block.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n    const title = titleM ? titleM[1].replace(/<!\\[CDATA\\[|\\]\\]>/g, '').trim() : '';\n    const pubDate = rssItemPubDate(block);\n    if (!link || !pubDate) continue;\n    items.push({ link, title, pubDate, source });\n  }\n  return items;\n}\n\n/** Hacker News — API oficial Firebase (https://github.com/HackerNews/API) */\nasync function fetchHackerNewsStories(helpers, hnSource, startMs, endMs) {\n  const base = 'https://hacker-news.firebaseio.com/v0';\n  const ids = await helpers.httpRequest({\n    method: 'GET',\n    url: `${base}/newstories.json`,\n    headers: { 'User-Agent': 'n8n-tech-intelligence/1.0', Accept: 'application/json' },\n    timeout: 60000,\n    json: true,\n  });\n  if (!Array.isArray(ids)) return [];\n  const rows = [];\n  const maxIds = Math.min(ids.length, 120);\n  for (let i = 0; i < maxIds; i++) {\n    const id = ids[i];\n    try {\n      const it = await helpers.httpRequest({\n        method: 'GET',\n        url: `${base}/item/${id}.json`,\n        headers: { 'User-Agent': 'n8n-tech-intelligence/1.0', Accept: 'application/json' },\n        timeout: 20000,\n        json: true,\n      });\n      if (!it || it.type !== 'story' || !it.time) continue;\n      const t = it.time * 1000;\n      if (t < startMs || t > endMs) continue;\n      const url = it.url || `https://news.ycombinator.com/item?id=${id}`;\n      const title = (it.title || url).replace(/<[^>]+>/g, '').trim();\n      const pubDate = new Date(t).toISOString();\n      rows.push({ link: url, title, pubDate, source: hnSource });\n    } catch (e) {\n      continue;\n    }\n  }\n  return rows;\n}\n\nasync function pushArticle(out, it, start, end) {\n  const t = new Date(it.pubDate).getTime();\n  if (Number.isNaN(t) || t < start || t > end) return;\n  const url = it.link;\n  const id = await sha256Hex(url);\n  const pd = new Date(it.pubDate);\n  const yy = pd.getUTCFullYear();\n  const mm = String(pd.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(pd.getUTCDate()).padStart(2, '0');\n  const published_date = pd.toISOString().slice(0, 10);\n  out.push({\n    json: {\n      id,\n      source: it.source,\n      title: it.title || url,\n      url,\n      published_at: pd.toISOString(),\n      summary: '',\n      ingested_at: new Date().toISOString(),\n      published_date,\n      blob_path: `raw/year=${yy}/month=${mm}/day=${dd}/source=${it.source}/${id}.json`,\n    },\n  });\n}\n\nconst now = new Date();\nconst uy = now.getUTCFullYear();\nconst um = now.getUTCMonth();\nconst ud = now.getUTCDate();\nconst yesterdayStart = Date.UTC(uy, um, ud - 1, 0, 0, 0, 0);\nconst end = Date.UTC(uy, um, ud - 1, 23, 59, 59, 999);\nconst start = yesterdayStart;\n\nconst out = [];\nconst feedErrors = [];\nconst feedDebug = [];\n\nfor (const f of feeds) {\n  const urls = Array.isArray(f.urls) ? f.urls : [];\n  if (!urls.length) continue;\n  let raw = null;\n  let lastErr = null;\n  let fetchedUrl = null;\n  for (const url of urls) {\n    try {\n      const reqOpts = {\n        method: 'GET',\n        url,\n        headers: {\n          'User-Agent': 'n8n-tech-intelligence/1.0',\n          Accept: 'application/rss+xml, application/xml, text/xml, */*',\n        },\n        timeout: 60000,\n      };\n      if (f.tlsInsecure) reqOpts.rejectUnauthorized = false;\n      raw = await httpHelpers.httpRequest(reqOpts);\n      fetchedUrl = url;\n      lastErr = null;\n      break;\n    } catch (e) {\n      lastErr = e;\n    }\n  }\n  if (lastErr != null && raw == null) {\n    const msg = lastErr && lastErr.message ? lastErr.message : String(lastErr);\n    feedErrors.push({ source: f.source, error: msg });\n    feedDebug.push({ source: f.source, error: msg, urlsTried: urls });\n    console.error('INGEST_FEED_FAIL', f.source, msg);\n    continue;\n  }\n  try {\n    const text = httpResponseToText(raw);\n    const parsed = parseRssItems(raw, f.source);\n    let inWindow = 0;\n    for (const it of parsed) {\n      const t0 = new Date(it.pubDate).getTime();\n      if (!Number.isNaN(t0) && t0 >= start && t0 <= end) inWindow++;\n      await pushArticle(out, it, start, end);\n    }\n    feedDebug.push({\n      source: f.source,\n      url: fetchedUrl,\n      bodyChars: text.length,\n      parsedItems: parsed.length,\n      parsedInWindow: inWindow,\n    });\n  } catch (e) {\n    const msg = e && e.message ? e.message : String(e);\n    feedErrors.push({ source: f.source, error: msg });\n    feedDebug.push({ source: f.source, error: msg });\n    console.error('INGEST_PARSE_FAIL', f.source, msg);\n  }\n}\n\ntry {\n  const hnItems = await fetchHackerNewsStories(httpHelpers, 'hackernews', start, end);\n  for (const it of hnItems) {\n    await pushArticle(out, it, start, end);\n  }\n} catch (e) {\n  const msg = e && e.message ? e.message : String(e);\n  feedErrors.push({ source: 'hackernews', error: msg });\n  console.error('INGEST_HN_FAIL', msg);\n}\n\nif (out.length === 0) {\n  const diag = {\n    windowStart: new Date(start).toISOString(),\n    windowEnd: new Date(end).toISOString(),\n    feedErrors,\n    feedDebug,\n    feedsAttempted: feeds.length,\n  };\n  const suspiciousTinyBodies =\n    feedDebug.length > 0 &&\n    feedDebug.every((d) => !d.error && (d.bodyChars ?? 0) < 400);\n  if (feedErrors.length > 0 || suspiciousTinyBodies) {\n    diag.hint =\n      feedErrors.length > 0\n        ? 'Exceções HTTP — ver feedErrors.'\n        : 'Respostas muito pequenas (<400 chars) em todos os feeds — possível bloqueio, HTML de erro ou formato inesperado.';\n    console.error('INGEST_FAIL', JSON.stringify(diag));\n    throw new Error(`INGEST_ZERO_ITEMS: ${JSON.stringify(diag)}`);\n  }\n  diag.hint = 'Feeds OK mas nenhum item com published_at na janela UTC.';\n  console.error('INGEST_NO_MATCH_WINDOW', JSON.stringify(diag));\n}\n\nreturn out;\n",
        "language": "javaScript",
        "mode": "runOnceForAllItems"
      },
      "id": "code-fetch-normalize",
      "name": "Fetch RSS e janela D-1 UTC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-articles",
      "name": "Split artigos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        0
      ],
      "notes": "Saída 0 = done (fim do loop). Saída 1 = loop (cada batch). Ver docs n8n Split in Batches — índices contraintuitivos."
    },
    {
      "parameters": {
        "url": "={{$vars.FUNCTION_APP_URL}}/api/check-id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            },
            {
              "name": "published_date",
              "value": "={{ $json.published_date }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-check-id",
      "name": "HTTP check-id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ME",
          "name": "Azure Function (x-functions-key)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/** runOnceForEachItem: retorno { json } com objeto plano (validador Cloud). */\nconst rawA = $('Split artigos').item.json;\nlet check = $input.item.json;\nif (typeof check === 'string') {\n  try { check = JSON.parse(check); } catch (e) { check = {}; }\n}\nif (!check || typeof check !== 'object' || Array.isArray(check)) check = {};\n\nconst a = rawA && typeof rawA === 'object' && !Array.isArray(rawA) ? rawA : {};\nconst exists = check.exists === true || check.exists === 'true';\n\nconst out = {\n  id: a.id != null ? String(a.id) : '',\n  source: a.source != null ? String(a.source) : '',\n  title: a.title != null ? String(a.title) : '',\n  url: a.url != null ? String(a.url) : '',\n  published_at: a.published_at != null ? String(a.published_at) : '',\n  summary: a.summary != null ? String(a.summary) : '',\n  ingested_at: a.ingested_at != null ? String(a.ingested_at) : '',\n  published_date: a.published_date != null ? String(a.published_date) : '',\n  blob_path: a.blob_path != null ? String(a.blob_path) : '',\n  exists: !!exists,\n};\n\nreturn { json: out };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "code-merge-check",
      "name": "Merge artigo + check-id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $json.exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-not-exists",
      "name": "IF não existe RAW",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1220,
        0
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $vars.BLOB_BASE_URL.replace(/\\/$/, '') }}/{{ $json.blob_path }}?{{ $vars.BLOB_SAS_TOKEN }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ms-blob-type",
              "value": "BlockBlob"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.id, source: $json.source, title: $json.title, url: $json.url, published_at: $json.published_at, summary: $json.summary || '', ingested_at: $json.ingested_at }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-upload-raw",
      "name": "PUT RAW ADLS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        -120
      ],
      "notes": "BLOB_BASE_URL = .../raw. BLOB_SAS_TOKEN = query SAS completa sem '?'. PublicAccessNotPermitted/409: SAS inválido/incompleto ou URL sem auth — usar SAS contentor com sp (escrita) e sr=c; validade se/st."
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst d = new Date(Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate() - 1));\nreturn [{ json: { date: d.toISOString().slice(0, 10), lookback_days: 1 } }];"
      },
      "id": "code-process-date",
      "name": "Parâmetros /process (ontem UTC)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.FUNCTION_APP_URL}}/api/process",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $json.date, lookback_days: $json.lookback_days || 1, archive: false }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "http-process",
      "name": "POST process",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ME",
          "name": "Azure Function (x-functions-key)"
        }
      }
    }
  ],
  "connections": {
    "Cron 07h00 UTC": {
      "main": [
        [
          {
            "node": "Fetch RSS e janela D-1 UTC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS e janela D-1 UTC": {
      "main": [
        [
          {
            "node": "Split artigos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split artigos": {
      "main": [
        [
          {
            "node": "Parâmetros /process (ontem UTC)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP check-id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP check-id": {
      "main": [
        [
          {
            "node": "Merge artigo + check-id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge artigo + check-id": {
      "main": [
        [
          {
            "node": "IF não existe RAW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF não existe RAW": {
      "main": [
        [
          {
            "node": "PUT RAW ADLS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split artigos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT RAW ADLS": {
      "main": [
        [
          {
            "node": "Split artigos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parâmetros /process (ontem UTC)": {
      "main": [
        [
          {
            "node": "POST process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 600
  },
  "meta": {
    "templateCredsVersion": 1
  }
}
